In [10]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [11]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.

# Ans.

df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

# Ans.

# loc is used for label indexing
# iloc is used for integer indexing

In [14]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].

# Ans.

reindex = [3,0,1,2]

new_df = df.reindex(reindex)

print(new_df.loc[2])
print("")
print(new_df.iloc[2])

# here loc[2] will give row which name is "2"
# and iloc[2] will give 3rd row because it will start from 0

course_name    Big Data
duration              6
Name: 2, dtype: object

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [31]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [32]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.424460  0.898642  0.176592  0.113679  0.144248  0.094626
2  0.453317  0.505592  0.379679  0.734834  0.392726  0.880444
3  0.792487  0.302140  0.929917  0.053380  0.869142  0.678007
4  0.551371  0.947670  0.597519  0.230658  0.195551  0.184763
5  0.100442  0.405871  0.747584  0.155856  0.972639  0.825139
6  0.795516  0.232869  0.159640  0.555666  0.996125  0.242108

In [33]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

# Ans.

# (i) mean of each and every column present in the dataframe.
print(df1.mean())


# (ii) standard deviation of column, ‘column_2’
print("Std of col2 : " , df1['column_2'].std())

column_1    0.519599
column_2    0.548797
column_3    0.498488
column_4    0.307345
column_5    0.595072
column_6    0.484181
dtype: float64
Std of col2 :  0.30477411951289113

In [34]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

# Ans.

df1.at[2,'column_2'] = "Nobita"

In [36]:
df1['column_2'].mean()

# It will give error because mean() operation cant be performed on string datatypes , it required numerical value

In [ ]:
# Q6. What do you understand about the windows function in pandas and list the types of windows
# functions?

# Ans.

# It is a function that operates on a sliding window of data in a DataFrame or Series. It allows you to perform calculations on a specified window of data points at a time

# rolling function
# expanding function
# exponentially function

In [43]:
# Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]

# Ans.

c_date = pd.datetime.now().strftime("%B %Y")
c_date

C:\Users\sadar\AppData\Local\Temp\ipykernel_8076\4232082931.py:6: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  c_date = pd.datetime.now().strftime("%B %Y")

'May 2023'

In [46]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

# Ans.

s_date = pd.to_datetime(input("Enter Starting Date "))
e_date = pd.to_datetime(input("Enter Ending Date "))

pd.Timedelta(e_date - s_date)

Enter Starting Date 2023-01-09
Enter Ending Date 2023-02-01

Timedelta('23 days 00:00:00')

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
# column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.

# Ans.

file_path = input("Enter file path ")
column_name = input("Enter the column name ")
category_order = input("Enter the category order (comma-separated values) ").split(",")

data_df = pd.read_csv(file_path)

data_df[column_name] = pd.Categorical(data_df[column_name], categories=category_order, ordered=True)

sorted_data = data_df.sort_values(column_name)

print(sorted_date)

In [ ]:
# Q10. Write a Python program that reads a CSV file containing sales data for different products and
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The
# program should prompt the user to enter the file path and display the chart.

# Ans.

file_path = input("Enter file path ")

prd_df = pd.read_csv(file_path)

categ_df = prd_df.groupby(["product_name"])['item_sold'].sum()

categ_df.plot(kind='bar',stacked=True)

In [ ]:
# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
# a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
# displays the results in a table.

# Ans.

file_path = input("Enter file path ")

std_df = pd.read_csv(file_path)

res_df = pd.DataFrame({
    "Stats":['Mean','Median','Mode'],
    "Values":[std_df['test_score'].mean() , std_df['test_score'].median() , [i for i in std_df['test_score'].mode()]]
})

print(res_df)