In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# Ans.

# In simple word database is an organized collection of information.

# SQL stands for Structured Query Language
# NoSQL stands fro Not Only Structured Query Language

# SQL databses are table based 
# NoSQL databses are mostly document type oy key:value type
    
# Example of SQL Database : MySQL , PostgreSQL , MSSQL , MariaDB etc. 
# Example of NoSQL Database : MongoDB , CouchDB ,Cassandra , HBase ,Redis etc.

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# Ans.

# DDL stands for Data Definition Language
# A DDL is a computer language used to create and modify the structure of database objects in a database.

# CREATE , DROP , ALTER and TRUNCATE all are used to manage database and table etc.

# Suppose we have to create new Database or Table then we have to use CREATE like
# "CREATE DATABSE test"
# "CREATE TABLE test.test_table"

# if we have to delete database or table
# "DROP DATABASE test"
# "DROP TABLE test,test_table"

# TRUNCATE is used for delete all rows from table
# "TRUNCATE TABLE test.test_table"

# ALTER is used for changig structure of table which is already created
# "ALTER TABLE test.test_table ADD test_column VARCHAR(100)"

In [ ]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# Ans.

# DML stands for Data Manipulation Language
# DML is used to manipulate data in database

# INSERT is used for inserting data into table
# "INSERT INTO test.test_table VALUES(values here)"

# UPDATE is used to modify existing records
# "UPDATE test.test_table SET column_name=value"

# DELETE is used fro deleting data from table
# "DELETE FROM test.test_table WHERE id=1"

In [ ]:
# Q4. What is DQL? Explain SELECT with an example.

# Ans.

# DQL stands fro Data Query Language

# SELECT is used to select data from databse
# "SELECT * FROM test.test_table"

In [ ]:
# Q5. Explain Primary Key and Foreign Key.

# Ans.

# Primary Key
# A primary key is a column in a database table that's unique for each record

# Foreign Key
# A Foreign Key is a field in one table, that refers to the Primary Key in another table.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# Ans.

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="user_name",
    pasaword="user_password"
)

# A cursor contains information on a select statement and the rows of data accessed by it. A cursor is used to referred to a program to fetch and process the rows returned by the SQL statement, one at a time.

mycursor = mydb.cursor()

# execute() allows you to execute sql queries from python

mycursor.execute("CRTEATE DATABASE test")

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

# Ans.

from
where 
group by
having
select
order by
limit